<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
  <link href="/css/style.css" rel="stylesheet" />
  <style>
    .alert {
      padding: 10px;
      background-color: #d3d3d3;
      /* Red */
      color: white;
      text-align: center;
      margin: 0 auto;
      display: none;
    }

    /* The close button */
    .closebtn {
      margin-left: 15px;
      color: white;
      font-weight: bold;
      float: right;
      font-size: 22px;
      line-height: 20px;
      cursor: pointer;
      transition: 0.3s;
    }

    /* When moving the mouse over the close button */
    .closebtn:hover {
      color: black;
    }

    .btn-primary {
      background: #000;
      color: #fff;
    }

    .card {
      flex: 1 0 auto;
      box-sizing: border-box;
      margin: 1rem 0.25em;
    }

    .card-body:hover {
      background-color: #d3d3d3;
      color: black;
    }

    .proceed {
      background: #000;
      color: #fff;
      border: none;
    }

    .card-body:hover .btn-primary {
      visibility: visible;
    }

    .card-body {
      background: #000;
      color: #fff;
      border-radius: 10px;
    }

    .main {
      background-color: #eee;
    }

    .primary {
      position: relative;
      visibility: hidden;
    }
  </style>
</head>

<body class="main">
  <div className="col-xs-12" style="width: 100%; height: 100%">
    <div>
      <!-- Navigation -->
      <nav style="background-color: #000" class="navbar navbar-expand-md sticky-top">
        <div class="container-fluid">
          <div id="path"
            style="color: white; font-weight: 700; font-size: 20px; margin: 0 auto; font-family:sans-serif;">
            <h1>VCS Home</h1>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div id="alert" class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <p style="padding:0px; margin:0px;" id="alertmessage">This is alert message</p>
  </div>
  <div class="row" style="width: 75%; margin: 0 auto; background:#fff; height: 100%; display:flex; flex-wrap: wrap;
   justify-content: space-between; padding:50px;">
    <div class=" container" style=" width: 18rem; min-height: 10px; margin-top:30px;">
      <a href="#"></a>
      <div class="card-body">
        <div class="row">
          <h5 style="margin:0 auto;">Check Out</h5>
          <p style="margin:0 auto; padding: 20px; text-align: center;">
            Clone the desired repository by providing manifest file
          </p>
          <a href="#" class="btn btn-primary proceed" data-toggle="modal" data-target="#myModal2"
            style="margin: 0 auto;">Proceed</a>
        </div>
      </div>
    </div>

    <div class=" container" style=" width: 18rem; min-height: 10px; margin-top:30px; ">
      <a href="#"></a>
      <div class="card-body">
        <div class="row">
          <h5 style="margin:0 auto;">Check In</h5>
          <p style="margin:0 auto; padding: 20px; text-align: center;">
            Push the changes you made to repository
          </p>
          <a href="#" class="btn btn-primary proceed" data-toggle="modal" data-target="#myModal1"
            style="margin: 0 auto;">Proceed</a>
        </div>
      </div>
    </div>

    <div class=" container" style=" width: 18rem; min-height: 10px; margin-top:30px; ">
      <a href="#"></a>
      <div class="card-body">
        <div class="row">
          <h5 style="margin:0 auto;">Create Repo</h5>
          <p style="margin:0 auto; padding: 20px; text-align: center;">
            Create Repository to work on your project
          </p>
          <a href="/repos" class="btn btn-primary proceed" style="margin: 0 auto;">Proceed</a>
        </div>
      </div>
    </div>

    <div class=" container" style=" width: 18rem; min-height: 10px; margin-top:30px;">
      <a href="#"></a>
      <div class="card-body">
        <div class="row">
          <h5 style="margin:0 auto;">Display Repository</h5>
          <p style="margin:0 auto; padding: 20px; text-align: center;">
            Display all files in your Repository
          </p>
          <a href="/repos" class="btn btn-primary proceed" style="margin: 0 auto;">Proceed</a>
        </div>
      </div>
    </div>

    <div class=" container" style=" width: 18rem; min-height: 10px; margin-top:30px; ">
      <a href="#"></a>
      <div class="card-body">
        <div class="row">
          <h5 style="margin:0 auto;">Manifest Files</h5>
          <p style="margin:0 auto; padding: 20px; text-align: center;">
            Display manifest files in your repository
          </p>
          <a href="/manifests" class="btn btn-primary proceed" style="margin: 0 auto;">Proceed</a>
        </div>
      </div>
    </div>

    <div class=" container" style=" width: 18rem; min-height: 10px; margin-top:30px;">
      <a href="#"></a>
      <div class="card-body">
        <div class="row">
          <h5 style="margin:0 auto;">Add Label</h5>
          <p style="margin:0 auto; padding: 20px; text-align: center;">
            Add Labels to your manifest file
          </p>
          <a href="#" class="btn btn-primary proceed" data-toggle="modal" data-target="#myModal3"
            style="margin: 0 auto;">Proceed</a>
        </div>
      </div>
    </div>

    <div class=" container" style=" width: 18rem; min-height: 10px; margin-top:30px;">
      <a href="#"></a>
      <div class="card-body">
        <div class="row">
          <h5 style="margin:0 80px;">Merge In</h5>
          <p style="margin:0 auto; padding: 20px; text-align: center;">
            merge in files
          </p>
          <a href="#" class="btn btn-primary proceed" data-toggle="modal" data-target="#myModal4"
            style="margin: 0 auto;">Proceed</a>
        </div>
      </div>
    </div>

    <div class=" container" style=" width: 18rem; min-height: 10px; margin-top:30px;">
      <a href="#"></a>
      <div class="card-body">
        <div class="row">
          <h5 style="margin:0px 75px;">Merge Out</h5>
          <p style="margin:0 auto; padding: 20px; text-align: center;">
            merge out files
          </p>
          <a href="#" class="btn btn-primary proceed" data-toggle="modal" data-target="#myModal5"
            style="margin: 0 auto;">Proceed</a>
        </div>
      </div>
    </div>


  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Check in</h4>
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </div>
        <div class="modal-body">
          <input id="checkin_sourcefolder" class="form-control input-lg" id="input-lg" type="text"
            placeholder="Enter complete path for source folder" size="50" /><br /><br />
        </div>
        <div class="modal-footer">
          <button id="checkin_btn" onclick="checkin()" type="button" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Check out</h4>
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </div>
        <div class="modal-body">
          <input id="checkout_branchname" class="form-control input-lg" id="input-lg" type="text"
            placeholder="Enter branch name..." size="50" /><br /><br />
          <input id="checkout_path" class="form-control input-lg" id="input-lg" type="text"
            placeholder="Enter local repo path" size="50" /><br /><br />
          <input id="checkout_manifest" class="form-control input-lg" id="input-lg" type="text"
            placeholder="Enter manifest file name" size="50" />
        </div>
        <div class="modal-footer">
          <button id="checkout_btn" onclick="checkout()" type="button" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal3" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Label</h4>
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </div>
        <div class="modal-body">
          <input id="label_manifest" class="form-control input-lg" id="input-lg" type="text"
            placeholder="Enter manifest file name" size="50" /><br /><br />
          <input id="label_label" class="form-control input-lg" id="input-lg" type="text" placeholder="Enter Label.."
            size="50" /><br /><br />
        </div>
        <div class="modal-footer">
          <button id="label_btn" onclick="createlabel()" type="button" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>

 <!-- Modal -->
 <div class="modal fade" id="myModal4" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Merge In</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <div class="modal-body">
        <input id="checkin_sourcefolder" class="form-control input-lg" id="input-lg" type="text"
          placeholder="Enter complete path for source folder" size="50" /><br /><br />
      </div>
      <div class="modal-footer">
        <button id="checkin_btn" onclick="checkin()" type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>

 <!-- Modal -->
 <div class="modal fade" id="myModal5" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Merge Out</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <div class="modal-body">
        <input id="checkin_sourcefolder" class="form-control input-lg" id="input-lg" type="text"
          placeholder="Enter complete path for source folder" size="50" /><br /><br />
      </div>
      <div class="modal-footer">
        <button id="checkin_btn" onclick="checkin()" type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>





  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="/js/home.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</body>

</html>